build
out
checkpoints
data
bin
cmake-build-release
cmake-build-debug

.cache
.idea
.vs
onnx_hf
onnx_exp
trt

matlab/*.mexw64
matlab/*.dll
matlab/*.asv

*.ipynb

**/__pycache__

# for windows
**/*.mexw64
**/*.lib
**/*.dll
**/*.pdb
**/*.asv
**/*.exp

# for linux
**/*.mexa64
**/*.so*